*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
  color: #212121;
}

a {
  color: inherit;
  text-decoration: none;
  padding: 0.5rem;
  font-weight: bold;
}

.nav {
  display: flex;
  align-items: center;
}

.nav a.router-link-exact-active {
  color: #6d9886;

  .cartIconAndBadgeSec {
    .navCartBadge {
      background-color: #212121;
    }

    p {
      color: #d9cab3;
    }
  }
}
